$text-color-green: #009b4d;
$text-color-light-gray: #2b292d99;
$text-color-blue: #3142c6;

$color-dark: #2b292d;
$color-light: #f4f5f7;
$background-color-blue: #00a1c612;
$background-color-blue-active: #3141c5;

$border-color: #2b292d33;
